.AddressInput {
    .AddressInput__controls {
        display: flex;
        .AddressInput__input-wrapper {
            width: 50%;
            &:first-child {
                margin-right: 1em;
            }
        }
    }
}
